
.footer {
  z-index: 12;
  display: flex;
  justify-content: space-around;
  align-items: center;

}



.footer div {
  width: auto;
  height: 60%;
}

.footer .footer-info {
  width: 20%;
  height: auto;
}
.footer .footer-info img {
  width: 80%;
}

.footer div h1 {
  font-size: 1.2em;
}

.footer div ul {
  padding-left: 10px;
}

.footer .footer-right ul {
  padding-left: 0px;
}

.footer div ul li {
  opacity: 0.5;
}
