
@import 'var'

*
    margin: 0
    padding: 0
    color: white
    text-decoration: none
    list-style: none

.fPage
  overflow-x: hidden


.icons
  font-size: 24px



.formular1
  margin-left: 20%
  margin-right: 20%
  margin-top: 20px
  padding: 40px
  background-color: $prime

@import 'grid-system'

@import 'top-bar'

@import 'content'

@import 'post-comment'

@import 'side-bar'

@import 'topbar-profile-bar'
