
@import 'var'

*
    margin: 0
    padding: 0
    text-decoration: none
    list-style: none
    color: white


.fPage
  overflow-x: hidden


.icons
  font-size: 24px



.formular1
  margin-left: 20%
  margin-right: 20%
  margin-top: 20px
  padding: 40px
  background-color: $prime


// .formular1 div
//   margin-bottom: 50px
//
.form-drop-down
  width: 40%




.formular1 button
  float: right
  margin-top: -30px







@import 'grid-system'

@import 'top-bar'

@import 'content'

@import 'post-comment'

@import 'side-bar'

@import 'topbar-profile-bar'

@import 'pack-card'
